<!DOCTYPE html>
<html>
  <head>
    <title><%= @title or "Title" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>
  </head>

  <body data-controller="app" data-bs-theme="dark">
    <div class="container-fluid px-0">
      <button
        data-app-target="themeToggler"
        id="theme-toggler"
        class="btn btn-secondary rounded-circle"
        data-action="click->app#toggleTheme"
      ><i class="fas fa-moon"></i></button>
      <%= yield :navbar %>
      <%= yield :body %>
    </div>
  </body>

  <%= yield :scripts %>
</html>
